---
import BaseLayout from "../layout/BaseLayout.astro";
import BlogList from "../components/BlogList";
import getPosts from "../services/getPosts";

const myPosts = async () => await getPosts();
---

<BaseLayout>
  <h2 class="text-center text-6xl my-6">My Blog</h2>
  <BlogList posts={await myPosts()} />
</BaseLayout>
